.box_wrapper {
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
}
.box_wrapper .box_title {
  padding-bottom: 6px;
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
}
.box_wrapper .action_item {
  display: inline-block;
  margin-right: 8px;
}
#horizontal_item {
  margin-left: 0 !important;
  width: 50%;
  margin-bottom: 20px;
}

.list .down_in_header{
  display: inline-block;
  margin-top: 10px;
}
.list .down_in_header .origin_title{
  margin-top: 6px;
  display: inline-block;
}
.list .down_in_header .item_tags{
  margin-top: 6px;
}
.list .horizontal_item .image {
  width: 100px;
}
.columns_image {
  width: 90px;
  height: 126px;
}
.columns_title {
  width: 100%;
  text-align: center;
  margin-top: 6px;
}