.subject_wrapper {
  
}
.subject_wrapper .subject {
  display: flex;
  float: left;
  width: 70%;
}
.subject_wrapper .subject_rate {
  width: 100%;
  color: #9b9b9b;
  float: right;
  width: 30%;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}
.subject_wrapper .subject_rate .rate_progress_list > li {
  color: #9b9b9b;
}
.subject_wrapper .subject_avatar {
  flex: 1 1 0;
}
.subject_wrapper .subject_info {
  flex: 2 1 0;
  color: #666666;
  font-size: 13px;
  line-height: 21px;
}
.subject_wrapper .subject_avatar > img {
  height: 190px;
  width: auto;
}
.subject_content_wrapper {
  color: #111;
  
}
.subject_content_wrapper .subject_mini_title {
  color: #007722;
  font-size: 16px;
  margin: 18px 0;
}
.subject_tags .tags_wrapper .tags_item {
  display: inline-block;
  margin-right: 10px;
  background-color: #e8e8e8;
  padding: 4px 10px;
}
/* #007722 */