.col_five .box_wrapper {
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
}
.col_five .box_wrapper .box_title {
  padding-bottom: 8px;
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
}
.col_five .box_wrapper .action_item {
  display: inline-block;
  margin-right: 8px;
}
.col_five .columns_image {
  width: 115px;
  height: 172px;
  /* cursor: pointer; */

}
/* .col_five .columns_title {
  width: 100%;
  margin-top: 6px;
  text-align: left;
}
.col_five .columns_author {
  width: 100%;
  margin-top: 6px;
  text-align: left;
  display: inline-block;
} */
